<div id="footer" class="navbar-inverse navbar-fixed-bottom">
<div class="navbar-inner">

      <div class="container">
      <div class="row">
      	<div class="span4"><p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p></div>
            	<div class="span4"><p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p></div>
      </div>
      </div>
      </div>
</div>